@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.scrollbar {
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
